.Admin__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow-y: scroll; */
  padding: 2rem;
}

.user__data {
  z-index: 50;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: -3px 5px 5px var(--light-box-shadow),
    3px -5px 5px var(--light-box-shadow);

  border-radius: 10px;
  width: min(100%, 35rem);
  height: min(100%, 45rem);
  margin: 0 auto;
}

.upper__section {
  flex: 1;
  background-color: var(--primary-light);
  display: flex;
  padding: 1rem;
}

.lower__section {
  flex: 2;
  position: relative;
}

.image__container {
  outline: 5px solid var(--text-color);
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  left: 50%;
}
.image__item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.image__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__changer {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c4c4c4;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__saver {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c4c4c4;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__changer .icon__change,
.image__saver .icon__save {
  scale: 0.8;
}

.user__details {
  display: flex;
  flex-direction: column;
  padding: 2rem;

  height: 100%;
  gap: 1rem;
  color: var(--text-dark);
}

.user__details h2 {
  margin-top: 8rem;
  font-family: var(--LoraBoldItc);
  font-family: var(--InconBold);
  font-size: 3rem;
  margin-bottom: 1rem;
}

.user__details p {
  font-size: 1.6rem;
  font-family: var(--InconReg);
  display: flex;
  align-items: center;
  gap: 7.5px;
}

.user__details button {
  align-self: self-start;
  margin: auto 0;
  background: none;
  border: 1.5px solid var(--gray-primary);
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-family: var(--InconReg);
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.user__details button:hover {
  background: var(--error);
  border-color: var(--error);
  color: var(--gray-light);
}

.admin__utils {
  display: none;
}

/* Under 550px */
@media screen and (max-width: 34.375em) {
  .admin__utils {
    display: flex;
    width: 100%;
  }

  .admin__utils > * {
    display: block !important;
  }
}

/* Under 375px */
@media screen and (max-width: 23.4375em) {
  .image__container {
    outline: 5px solid var(--text-color);
    width: 10rem;
    height: 10rem;
  }
  .Admin__container {
    padding: 1rem;
  }
  .user__data {
    height: 100%;
  }

  .user__details {
    padding: 0 1rem;
  }

  .user__details p {
    font-size: 1.4rem;
  }

  .upper__section {
    flex: 0.75;
  }
}
