.Admin__container {
  /* border: 2px solid red; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.user__data {
  /* border: 2px solid var(--primary-color); */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.05); */
  box-shadow: -3px 5px 5px var(--light-box-shadow),
    3px -5px 5px var(--light-box-shadow);

  border-radius: 10px;
  width: min(100%, 350px);
  height: min(100%, 450px);
  margin: 0 auto;

  /* justify-self: flex-start; */
}

/* .user__data > * {
  border: 2px solid black;
} */
.upper__section {
  flex: 1;
  background-color: var(--primary-light);
}

.lower__section {
  flex: 2;
  position: relative;
}

.image__container {
  outline: 5px solid var(--text-color);
  width: 125px;
  height: 125px;
  border-radius: 50%;
  /*  */
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  left: 50%;
  /* border: 2px solid red; */
}
.image__item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.image__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__changer {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c4c4c4;
  cursor: pointer;
}

.image__saver {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #c4c4c4;
  cursor: pointer;
}

.image__changer img,
.image__saver img {
  scale: 0.5;
}

.user__details {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  /* padding: 0 1.5rem; */
  /* padding-top: 3rem; */
  /* justify-content: censter; */
  /* align-items: center; */
  /* border: 2px solid red; */
  height: 100%;
  gap: 1rem;
  color: var(--text-dark);
}

.user__details h2 {
  margin-top: 8rem;
  font-family: var(--LoraBoldItc);
  font-family: var(--InconBold);
  font-size: 3rem;
  margin-bottom: 1rem;
  /* color: var(--text-dark); */
  /* color: var(--primary-color); */
}

.user__details p {
  font-size: 1.6rem;
  font-family: var(--InconReg);
  /* color: var(--gray-primary); */
  /* color: var(--text-dark); */
  display: flex;
  align-items: center;
  gap: 7.5px;
}

.user__details button {
  align-self: self-start;
  margin: auto 0;
  background: none;
  border: 1.5px solid var(--gray-primary);
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-family: var(--InconReg);
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.user__details button:hover {
  background: var(--error);
  border-color: var(--error);
  color: var(--gray-light);
}
