.Auth__page {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  font-family: var(--LoraReg);
  /* border: 2px solid red; */
  position: relative;
}

.Auth__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 50;
}

.Auth__component {
  width: 35rem;
  padding: 2rem;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  z-index: 50;
}

.Auth__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.Auth__form div {
  position: relative;
}

.Auth__form div .input__icon {
  position: absolute;
  top: 50%;
  left: 7.5px;
  transform: translateY(-50%);
}

.toggle__password {
  position: absolute;
  top: 50%;
  right: 7.5px;
  transform: translateY(-50%);
  cursor: pointer;
}

.Auth__form input::placeholder {
  font-family: var(--LoraReg);
}

.Auth__form input {
  width: 100%;
  padding: 1rem;
  padding-left: 3rem;
  border-radius: 5px;
  border: 1px solid #999;
}

.Auth__form input:focus {
  outline: 2px solid rgba(164, 69, 237, 0.25);
  border-color: transparent;
}
.login {
  font-size: 1.6rem;
}
.login span {
  cursor: pointer;
  text-decoration: underline;
}
/* .action__buttons {
  display: flex;
  justify-content: space-around;
} */

.Auth__form button {
  /* align-self: start; */
  padding: 1rem 2rem;
  cursor: pointer;
  border: none;
  background: var(--primary-color);
  border-radius: 5px;
  font-family: var(--LoraBold);
  /* font-family: var(--InconBold); */
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 0.75px;
  margin-top: 1rem;
}

.Auth__divider {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
}

.Auth__actions {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  /* text-align: center; */
}
.Auth__actions div {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.Auth__actions div:nth-child(1) {
  color: #000;
  border: 1px solid #000;
}
.Auth__actions div:nth-child(2) {
  background: var(--text-dark);
}

.shaper__wrapper {
  border: 2px solid red;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  filter: blur(60px);
  z-index: -1;
  z-index: 50;
}
/* .dark .shaper__wrapper {
  z-index: 500 !important;
} */

.shape,
.second__shape {
  flex: 1;
  height: 100%;
  /* background-image: linear-gradient(
    110deg,
    hsl(274deg 82% 50%) 0%,
    hsl(274deg 82% 53%) 34%,
    hsl(274deg 82% 55%) 50%,
    hsl(274deg 82% 57%) 61%,
    hsl(274deg 82% 58%) 68%,
    hsl(274deg 82% 60%) 74%,
    hsl(274deg 82% 60%) 79%,
    hsl(274deg 82% 60%) 83%,
    hsl(274deg 82% 60%) 87%,
    hsl(274deg 82% 60%) 92%,
    hsl(274deg 82% 60%) 100%
  ); */

  /* background-image: linear-gradient(
    110deg,
    hsl(274deg 82% 50%) 0%,
    hsl(274deg 82% 54%) 32%,
    hsl(274deg 82% 56%) 48%,
    hsl(274deg 82% 59%) 58%,
    hsl(274deg 82% 60%) 66%,
    hsl(274deg 82% 60%) 72%,
    hsl(274deg 82% 60%) 76%,
    hsl(274deg 82% 60%) 80%,
    hsl(275deg 83% 68%) 84%,
    hsl(276deg 85% 79%) 88%,
    hsl(278deg 87% 90%) 93%,
    hsl(0deg 0% 100%) 100%
  ); */
  /* background-image: linear-gradient(
    110deg,
    hsl(274deg 82% 60%) 0%,
    hsl(266deg 87% 70%) 4%,
    hsl(259deg 91% 77%) 10%,
    hsl(253deg 89% 83%) 22%,
    hsl(254deg 92% 84%) 39%,
    hsl(255deg 95% 86%) 57%,
    hsl(256deg 100% 87%) 71%,
    hsl(259deg 95% 88%) 81%,
    hsl(262deg 90% 89%) 88%,
    hsl(264deg 85% 89%) 93%,
    hsl(265deg 86% 93%) 96%,
    hsl(265deg 87% 96%) 99%,
    hsl(0deg 0% 100%) 100%
  ); */
  opacity: 0.3;

  background-image: linear-gradient(
    110deg,
    hsl(274deg 82% 50%) 0%,
    hsl(274deg 82% 52%) 30%,
    hsl(274deg 82% 54%) 45%,
    hsl(274deg 82% 55%) 56%,
    hsl(274deg 82% 57%) 63%,
    hsl(274deg 82% 59%) 69%,
    hsl(274deg 82% 60%) 74%,
    hsl(274deg 82% 62%) 78%,
    hsl(274deg 82% 64%) 82%,
    hsl(274deg 82% 65%) 85%,
    hsl(274deg 82% 67%) 89%,
    hsl(274deg 82% 69%) 93%,
    hsl(274deg 82% 70%) 100%
  );
}

.shape {
  /* clip-path: polygon(25% 0%, 32% 89%, 100% 50%, 75% 100%, 51% 20%, 2% 27%); */
  clip-path: polygon(13% 25%, 95% 38%, 69% 54%, 48% 96%, 56% 3%);
}

.second__shape {
  /* clip-path: polygon(50% 0%, 99% 15%, 82% 100%, 30% 71%, 98% 69%); */
  /* clip-path: polygon(36% 18%, 86% 13%, 80% 91%, 31% 71%, 90% 69%); */

  clip-path: polygon(91% 68%, 33% 12%, 89% 21%, 77% 92%, 34% 76%, 9% 44%);
}

/* .shape::after {

  position: absolute;
  z-index: 200;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    110deg,
    hsl(274deg 82% 60%) 0%,
    hsl(266deg 87% 70%) 4%,
    hsl(259deg 91% 77%) 10%,
    hsl(253deg 89% 83%) 22%,
    hsl(254deg 92% 84%) 39%,
    hsl(255deg 95% 86%) 57%,
    hsl(256deg 100% 87%) 71%,
    hsl(259deg 95% 88%) 81%,
    hsl(262deg 90% 89%) 88%,
    hsl(264deg 85% 89%) 93%,
    hsl(265deg 86% 93%) 96%,
    hsl(265deg 87% 96%) 99%,
    hsl(0deg 0% 100%) 100%
  );
  background-color: #e74c3c;
  opacity: 0.5;
  clip-path: polygon(50% 0%, 99% 15%, 82% 100%, 30% 71%, 98% 69%);
} */
