@font-face {
  font-family: "Inconsolata-Bold";
  src: url("../../public/fonts/Inconsolata-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inconsolata-Regular";
  src: url("../../public/fonts/Inconsolata-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../../public/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Regular";
  src: url("../../public/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora-Bold";
  src: url("../../public/fonts/Lora-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lora-BoldItalic";
  src: url("../../public/fonts/Lora-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Lora-Regular";
  src: url("../../public/fonts/Lora-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --InconBold: "Inconsolata-Bold", sans-serif;
  --InconReg: "Inconsolata-Regular", sans-serif;

  --InterBold: "Inter-Bold", sans-serif;
  --InterReg: "Inter-Regular", sans-serif;

  --LoraBold: "Lora-Bold", sans-serif;
  --LoraBoldItc: "Lora-BoldItalic", sans-serif;
  --LoraReg: "Lora-Regular", sans-serif;

  --error: rgb(255, 82, 82);
  --primary-color: rgb(164, 69, 237);
  --primary-light: rgba(164, 69, 237, 0.25);
  --primary-dark: rgb(143, 25, 232);
  --gray-primary: rgb(117, 117, 117);
  --gray-light: rgb(248, 248, 248);
  --dark-box-shadow: rgba(255, 255, 255, 0.05);
  --dark-mode: rgb(30, 30, 30);
  --text-color: rgb(255, 255, 255);
  --text-dark: rgb(30, 30, 30);
  --light-box-shadow: rgba(0, 0, 0, 0.1);
  --btn-bg: #f5eef8;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-light);
  border-radius: 2px;
}
::-webkit-scrollbar-track {
  background: var(--gray-light);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

::placeholder {
  font-family: var(--LoraReg);
}

html {
  font-size: 62.5%;
  /* 10px per rem */
}

body {
  max-height: 100vh;
  font-family: var(--LoraReg);
  box-sizing: border-box;
}

h3 {
  font-size: 1.6rem;
  font-family: var(--LoraReg);
  color: var(--gray-primary);
  font-weight: 500;
  line-height: 3rem;
}

ul li {
  font-family: var(--LoraReg);
  line-height: 2.5rem;
}

li::marker {
  color: var(--primary-color);
}

.lead__text {
  font-size: 5rem;
  font-family: var(--LoraBold);
}
.regular__text {
  font-size: 2rem;
  font-family: var(--LoraBoldItc);
}

.utility__header {
  font-size: 2.5rem;
}

.small__text {
  font-size: 1.6rem;
}

.dark {
  background-color: var(--dark-mode);
  --text-color: var(--dark-mode);
  /* --error: blue; */
  --text-dark: #fff;
  --light-box-shadow: var(rgba(255, 255, 255, 0.5));
  --btn-bg: #3f3d3d;
  --btn-bg: rgba(63, 61, 61, 0.9);
  --btn-bg: #333;
  /* --btn-bg: #454545; */
  /* --light-box-shadow: red; */
}

.dark * {
  color: #fff;
}

.dark button {
  color: #fff;
}

.dark aside {
  border: 2px solid var(--light-box-shadow);
}

.serif * {
  font-family: var(--LoraReg) !important;
}

.serif .lead__text {
  font-family: var(--LoraBold) !important;
}

.serif .regular__text {
  font-family: var(--LoraBoldItc) !important;
}

.sans-serif * {
  font-family: var(--InterReg) !important;
}
.sans-serif .lead__text {
  font-family: var(--InterBold) !important;
}

.mono * {
  font-family: var(--InconReg) !important;
}
.mono .lead__text {
  font-family: var(--InconBold) !important;
}

.selected {
  outline: 2px solid var(--primary-color) !important;
  outline-offset: 5px !important;
}

.correct {
  background: #2ecc71 !important;
}

.wrong {
  background: var(--error) !important;
}

#animation-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 95%;
  z-index: 5;
  /* backdrop-filter: blur(10px); */
}

/* Under 800px */
@media screen and (max-width: 50em) {
  .tablet__hide {
    display: none;
  }
}
/* Under 550px */
@media screen and (max-width: 34.375em) {
  .mobile__hide {
    display: none;
  }

  .utility__header {
    font-size: 1.75rem;
  }
}
