.nav__component {
  display: flex;
  gap: 5rem;
  align-items: center;
  padding: 1rem 2rem;
  /* box-shadow: 3px 5px 5px var(--light-box-shadow),
    -3px -5px 5px var(--light-box-shadow); */
  box-shadow: 1.5px 3px 3px var(--light-box-shadow);
  /* ,
    -3px -5px 5px var(--light-box-shadow); */
}

.logo__container {
  margin-right: auto;
  z-index: 50;
}

.font__dropdown select {
  padding: 1rem;
  border: none;
  border: 1.5px solid #222;
}

.font__dropdown select:focus {
  outline: none;
}

.theme__switcher {
  position: relative;
  min-width: 7.5rem;
  /* border: 2px solid red; */
  z-index: 50;
}

.theme__switcher label {
  padding: 2rem;
  position: relative;
  border-radius: 30px;
  cursor: pointer;
  background: #333;
  display: block;
}

.theme__switcher input {
  display: none;
}

.theme__switcher input:checked + label {
  border-color: black;
}

.theme__switcher label svg {
  width: 2.25rem;
  height: 1.75rem;
  transition: ease-in-out all 0.5s;
}

.fa_sun {
  position: absolute;
  top: 50%;
  left: 7.5px;
  transform: translateY(-50%);
  fill: #ffd700;
}

.fa_moon {
  position: absolute;
  top: 50%;
  right: 7.5px;
  transform: translateY(-50%);
  fill: #fff;
}
.ball {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--primary-dark);
  position: absolute;
  top: 50%;
  left: 7.5px;
  transform: translateY(-50%);
  transition: ease-in-out all 0.5s;
}
.theme__switcher input:checked + label .fa_sun {
  transform: translateY(-50%) rotate(180deg);
}

.theme__switcher input:checked + label .ball {
  left: calc(100% - 7.5px);
  transform: translate(-100%, -50%) rotate(180deg);
  background-color: #fff;
}

.theme__switcher input:checked + label .fa_moon {
  right: 100%;
  transform: translate(100%, -50%) rotate(180deg);
  opacity: 0;
}

/* Add a new CSS class for the checked state */
.theme__switcher.checked + label .ball {
  left: calc(100% - 7.5px);
  transform: translate(-100%, -50%) rotate(180deg);
  background-color: #fff;
}
.theme__switcher.checked + label .fa_sun {
  transform: translateY(-50%) rotate(180deg);
}

.theme__switcher.checked + label .fa_moon {
  right: 100%;
  transform: translate(100%, -50%) rotate(180deg);
  opacity: 0;
}

/* Under 550px */
@media screen and (max-width: 34.375em) {
  .nav__component {
    gap: 2rem;
  }
}

/* Under 375px */
@media screen and (max-width: 23.4375em) {
  .nav__component {
    padding: 1rem;
  }

  .logo__container img {
    width: 25px;
    height: 25px;
  }
}
