.quiz__page {
  height: 100%;
  position: relative;
  z-index: 50;
  color: var(--text-dark);
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.error h1 {
  font-size: 2rem;
}

.quiz__button {
  all: unset;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
}

.quiz__question {
  /* border: 2px solid blueviolet; */
  padding: 2rem;
  /* overflow-y: scroll; */
}

.question__number {
  font-size: 1.6rem;
  color: var(--gray-primary);
}

.question__text {
  margin: 1rem 0;
  line-height: 1.6;
}

.answers__container {
  margin: 2rem 0;
  display: flex;
  list-style: none;
  gap: 2rem;
  flex-wrap: wrap;

  flex-direction: column;
}

.answer__option {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.answer__letter {
  padding: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: var(--btn-bg);
  cursor: pointer;
}

.answer__option button {
  all: unset;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  background: var(--btn-bg);
}

.action__buttons {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.action__buttons button,
.restart__quiz {
  all: unset;
  padding: 1rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  background: var(--btn-bg);
}

.action__buttons button:nth-child(2) {
  background: var(--primary-color);
  color: var(--text-color);
  color: #fff;
}

.controls {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 2rem;
}

.action__buttons .restart__quiz {
  color: #fff;
  background: var(--error);
}

.quiz__result {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  row-gap: 2rem;
}

.quiz__result span {
  color: var(--primary-color);
  font-weight: 600;
}

/* Under 550px */
@media screen and (max-width: 34.375em) {
  .quiz__result {
    padding: 2rem;
  }
}

/* Under 375px */
@media screen and (max-width: 23.4375em) {
  .quiz__result {
    padding: 1rem;
  }
}
