.search__component {
  display: flex;
  padding-right: 4rem;
  /* padding: 0 2rem; */
  gap: 2rem;
  color: var(--text-dark);
  /* position: relative; */
}

.search__component h2 {
  padding: 0 2rem;
}
.Search__results {
  padding: 1rem 4rem;

  max-height: 425px;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 3px 5px 5px var(--light-box-shadow);
  /* width: min(100%, 850px); */
  flex: 2.75;
}

.Search__results .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*  */
  margin-bottom: 20px;
}
.lead__container h1 {
  line-height: 8rem;
}

.phonetic {
  font-size: 2.5rem;
  color: var(--primary-color);
}

/* .description {
  border: 2px solid purple;
} */

.description div:first-child {
  /* border: 2px solid purple; */
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

/* .speech__name {
  
} */

.line {
  flex: 1;
  /* border: 2px solid green; */
  position: relative;
  color: transparent;
}

.line:after {
  content: "";
  top: 5px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #c2c2c2;
  /* z-index: 0; */
  /* background-color: red; */
}

.play__container {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.play__container img {
  cursor: pointer;
}

/* .play__container img:last-child {
} */

/* 


/* .meaning {
  border: 2px solid green;
} */
.meaning ul li {
  margin: 1rem 3rem;
}

.synonyms {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
  /* border: 2px solid red; */
}

.synonyms span {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary-color);
  cursor: pointer;
}

.synonyms span:hover {
  text-decoration: underline;
}

.source {
  margin: 20px 0;
}

.source {
  font-size: 13px;
  display: flex;
  gap: 10px;
}

.user__data {
  flex: 1;
  /* border: 2px solid var(--primary-color); */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* box-shadow: -3px 5px 5px rgba(0, 0, 0, 0.05); */
  box-shadow: -3px 5px 5px var(--light-box-shadow),
    3px -5px 5px var(--light-box-shadow);

  border-radius: 10px;
}

/* .user__data > * {
  border: 2px solid black;
} */
.upper__section {
  flex: 1;
  background-color: var(--primary-light);
}

.lower__section {
  flex: 2;
  position: relative;
}

.image__container {
  outline: 5px solid var(--text-color);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform: translate(-50%, -50%);
  left: 50%;
}

.image__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user__details {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  /* padding-top: 3rem; */
  /* justify-content: censter; */
  /* align-items: center; */
  /* border: 2px solid red; */
  height: 100%;
  gap: 1rem;
}

.user__details h2 {
  margin-top: 8rem;
  font-family: var(--LoraBoldItc);
  font-family: var(--InconBold);
  font-size: 3rem;
  margin-bottom: 1rem;
  /* color: var(--primary-color); */
}

.user__details p {
  font-size: 1.6rem;
  font-family: var(--InconReg);
  color: var(--gray-primary);
  display: flex;
  align-items: center;
  gap: 7.5px;
}

.user__details button {
  align-self: self-start;
  margin: auto 0;
  background: none;
  border: 1.5px solid var(--gray-primary);
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-family: var(--InconReg);
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.user__details button:hover {
  background: var(--error);
  border-color: var(--error);
  color: var(--gray-light);
}

/* Fix */
.dailyword__component {
  padding-top: 2rem;
}

.daily__word {
  text-align: center;
}

.daily__word span {
  color: var(--primary-color);
  /* display: flex;
  align-items: center; */
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid red;
  /* background: red; */
  width: 100%;
  height: 100%;
}
