.search__component {
  display: flex;
  color: var(--text-dark);
}

.search__component h2 {
  padding: 0 2rem;
}
.Search__results {
  padding: 1rem 5rem;
  height: 100%;

  border-radius: 10px;
  /* box-shadow: 3px 5px 5px var(--light-box-shadow); */
  width: 100%;
  z-index: 50;
}

.Search__results .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.lead__container h1 {
  line-height: 8rem;
}

.phonetic {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.description div:first-child {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.line {
  flex: 1;
  position: relative;
  color: transparent;
}

.line:after {
  content: "";
  top: 5px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #c2c2c2;
}

.play__container {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.play__container img {
  cursor: pointer;
}

.meaning ul li {
  margin: 1rem 3rem;
}

.synonyms {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  column-gap: 3rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}

.synonyms span {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary-color);
  cursor: pointer;
}

.synonyms span:hover {
  text-decoration: underline;
}

.source {
  margin: 20px 0;
}

.source {
  font-size: 13px;
  display: flex;
  gap: 10px;
}

/* Fix */
.dailyword__component {
  padding-top: 2rem;
  color: var(--text-dark);
}

.daily__word {
  text-align: center;
}

.daily__word span {
  color: var(--primary-color);
  /* display: flex;
  align-items: center; */
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid red;
  /* background: red; */
  width: 100%;
  height: 100%;
}

/* Under 800px */
@media screen and (max-width: 50em) {
  .Search__results {
    /* padding: 0 1rem 0 2rem; */
    padding: 0 2rem;
  }
}

/* Under 550px */
@media screen and (max-width: 34.375em) {
  .Search__results {
    padding: 0 1rem;
  }
  .daily__word {
    text-align: left;
    padding: 0 1rem;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .lead__container h1 {
    line-height: 4rem;
  }
  .play__container {
    gap: 1.5rem;
  }
  .action__icon {
    font-size: 3rem;
  }

  .phonetic {
    font-size: 1.75rem;
  }

  .play__container svg {
    font-size: 4rem;
  }

  .play__container img {
    width: 3rem;
  }
}

/* */

/* Under 375px */
@media screen and (max-width: 23.4375em) {
  .play__container svg {
    font-size: 3rem;
  }

  .play__container img {
    width: 2.5rem;
  }
}
