.utility__component {
  height: 100%;
  padding: 2rem;
  color: var(--text-dark);
}
.utility__component h1 {
  margin-bottom: 4rem;
}

.utility__results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 25%));
  gap: 3rem;
  z-index: 50;
  position: relative;
}

.utility__results li {
  box-shadow: 2px 3px 5px var(--light-box-shadow);
  /* border: 2px solid red; */
  list-style: none;
  text-align: center;
  padding: 2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: all ease-in-out 0.25s;
  position: relative;
  z-index: 50;
  /*  */
  overflow: hidden;
  background: var(--btn-bg);

  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.utility__results li::before {
  position: absolute;
  content: "";
  top: 150%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: var(--primary-color);
  transition: all ease-in-out 0.5s;
  border-radius: 50%;
  z-index: -1;
}

.utility__results li:hover {
  /* transform: translateY(-5px); */
  color: #fff;
  /* color: #; */
  background: none;
}
.utility__results li:hover::before {
  top: -10%;
}

.utility__results li .delete__icon,
.utility__results li .search__icon {
  position: absolute;
  top: 10px;
}

.utility__results li .delete__icon {
  right: 10px;
}

.utility__results li .search__icon {
  left: 10px;
}
/* Under 800px */
@media screen and (max-width: 50em) {
  .utility__results {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 45%));
  }
}

/* Under 550px */
@media screen and (max-width: 34.375em) {
  .utility__results {
    grid-template-columns: 1fr;
  }
}
/*  */
