.utility__component {
  height: 100%;
  padding: 2rem;
}
.utility__component h1 {
  margin-bottom: 4rem;
}

.utility__results {
  /* border: 2px solid blue; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 25%));
  gap: 3rem;
}

.utility__results li {
  box-shadow: 2px 3px 5px var(--light-box-shadow);
  list-style: none;
  text-align: center;
  padding: 2rem;
  cursor: pointer;
  border-radius: 10px;
  transition: all ease-in-out 0.25s;
  position: relative;
  /*  */
  overflow: hidden;
  background: var(--btn-bg);
}

.utility__results li::before {
  position: absolute;
  content: "";
  top: 150%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: var(--primary-color);
  transition: all ease-in-out 0.5s;
  border-radius: 50%;

  z-index: -1;
  /* height: 2; */
}

.utility__results li:hover {
  /* transform: translateY(-5px); */
  color: #fff;
  background: none;
}
.utility__results li:hover::before {
  top: -10%;

  /* left: 0%; */
  /* transform: translateY(-5px); */
}

/* .utility__item {
  border: 2px solid red;
}

.utility__results li {
  border: 2px solid blue;
} */

.utility__results li .delete__icon,
.utility__results li .search__icon {
  position: absolute;
  top: 10px;
}

.utility__results li .delete__icon {
  right: 10px;
}

.utility__results li .search__icon {
  left: 10px;
}
